*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.todo-btn {
    /* min-height: 100%; */
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
  }

  .section-signup {
    margin: 5rem auto;
    text-align: center;
    background: rgb(240, 240, 240);
    border-radius: 10px;
    padding: 1rem;
  }
  
  .signup-form {
    max-width: 800px;
    width: 95%;
    text-align: left;
    margin: auto;
  }
  .signup-form label {
    display: block;
  }
  
  .signup-form input {
    display: block;
    width: 100%;
    padding: 0.5rem;
  }
  .form-group {
    margin-top: 1rem;
  }
  .signup-form textarea {
    width: 100%;
  }
  .formsignupbtn {
    background: rgb(44, 55, 63);
    color: white;
    padding: 1rem 2rem;
    display: block;
    margin: auto;
    margin-top: 1rem;
  }
  .btn {
    display: inline-block;
    outline: none;
    border: none;
    cursor: pointer;
  }
  
  